{% extends 'post/base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock style %}


{% block content %}
<div class="content">
  <div class="register">
    <h1>Регистрация</h1>
    <form action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
        {{ form.username }}
      </div>
      <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
      </div>
      <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">Пароль:</label>
        {{ form.password1 }}
      </div>
      <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">Подтверждение пароля:</label>
        {{ form.password2 }}
      </div>
      <div class="form-group">
        <button type="submit">Зарегистрироваться</button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}