{% extends 'post/base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new_post.css' %}">
{% endblock style %}


{% block content %}
<div class="content">
    <div class="add-post">
        <h1>Добавить пост</h1>
        <form action="{% url 'new_post' %}" method="POST">
            {% csrf_token %}
            <label for="{{ form.title.id_for_label }}">Заголовок:</label>
            {{ form.title }}

            <label for="{{ form.text.id_for_label }}">Содержание:</label>
            {{ form.text }}

            <label for="{{ form.cat.id_for_label }}">Категория:</label>
            {{ form.cat }}

            <label for="{{ form.author.id_for_label }}">Категория:</label>
            {{ form.author }}


            <input type="submit" value="Добавить">
        </form>
    </div>
</div>

{% endblock content %}